@import url('https://fonts.googleapis.com/css?family=Audiowide|Droid+Sans+Mono|Press+Start+2P|VT323');
// Variables
$white:#F3F9F5;
$alabaster: #EBE9E9;
$blue: #3581b8;
$tangelo: #FCB07E;
$gainsboro: #DEE2D6;
$gray: #CACEC3;
@mixin border-shadow {
    border: 3px $gray solid;
    box-shadow: 3px 3px 1px $white;
    border-radius: 5px;
}
@mixin vt323 {font: 1.5em 'VT323', monospace;}
@mixin droid {font: 12px 'Droid Sans Mono', monospace;}
@mixin audiowide {font-family: 'Audiowide', cursive;}
@mixin pressstart {font-family: 'Press Start 2P', cursive;}

//  Styling

html,
body {
    background-color: $alabaster;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $blue;
}

h1 {    
    @include pressstart;
    font-size: 2em;
    margin-bottom: 3px;
    }

h2 {    
    @include pressstart;
    font-size: 14px;
    margin-top: 0;
}

h3 {    
    @include audiowide;
    font-size: 1.25em;
    margin: 30px 0 0;
}

h4 {    @include audiowide;}

p {     @include droid;}

.container-1 {
    @include border-shadow;
    align-items: center;
    background-color: $gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 10px 50px 25px;
    padding: 20px;
    list-style: none;
}

.container-1 li {
    //@include border-shadow;
    background-color: $white;
    display: flex;
    flex-direction: column;
    color: $blue;
    padding: 10px;
    height: 400px;
    h4 {
        flex-basis: 1;
        margin: 10px;
    }
    p {
        flex-basis: 1;
        margin: 5px;
    }
    iframe {
        flex-basis: 1;
        align-self: center;
    }
}

.container-2 {
    @include border-shadow;
    align-items: center;
    background-color: $gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 10px 50px 20px;
    padding: 20px;
    list-style: none;
    
}

.container-2 li a {
    background-color: $white;
    display: flex;
    flex-flow: row nowrap;
    color: $blue;
    padding: 15px;
    height: 125px;
    justify-content: space-around;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: $gainsboro;
    }
    div {
        margin: auto;
        align-self: center;
        flex: 0 1 30%;
    }
    h4 {
        align-self: center;
        margin: auto;
    }
    p {
        align-self: center;
        flex: 0 1 70%;
        margin: auto;
    }
    img {
        align-self: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 5px;
    }
}