html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 Styling
 =================
*/
html,
body {
  background: url(assets/DSCF0845.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  width: 100%;
  background-color: grey;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio *

  min-width: 100%;
  min-height: 100%;
}
*/

#content-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;

}

#quotescreen {
  height: 150px;
}

#author-row {
  display: inline;
  padding-bottom: 25px;
  text-align: left;
}

#author-row p {
  font-size: 24px;
  padding-bottom: 35px;
}

.quotebox {
  border-bottom: 1px white;
  border-style: outset;
  padding: 1em;
  margin-bottom: 50px;
  position: relative;
  width: 80%;
  margin: 1em auto;
}

.quotebox p {
  font-size: 30px;
  font-family: 'Pangolin', cursive;
  color: white;

}

/* need to get rid of on-press action*/
.btn-primary {
  background-color: transparent !important;
  background-repeat: no-repeat;
  border: none !important;
  display: block;

}

ul {
  text-align: center;
}

ul li{
  display: inline-block;
}
