@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Passion+One');
@mixin color-boxes {
    height: 250px;
    width: 250px;
    margin: 0;
    border: 10px solid black;
}

$blue: rgba(0,0,163,1);
$green:rgba(0,59,0,1);
$red:rgba(163,0,0,1);
$yellow:rgba(163,163,0,1);

$blue-on: rgba(0,0,255,1);
$green-on:rgba(0,202,0,1);
$red-on:rgba(255,0,0,1);
$yellow-on:rgba(255, 255, 0, 1);

$border: 3px solid grey;

html,
body {
    background: rgba(18, 18, 18, .2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.wrapper {
    display: grid;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin: auto;
    background: black;
    height: auto;
    width: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

.green {
    @include color-boxes();
    background: $green;
    border-top-left-radius: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    &.clicked {
        background: $green-on;
        transform: scale(0.98);
    }
}

.red {
    @include color-boxes();
    background: $red;
    border-top-right-radius: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    &.clicked {
        background: $red-on;
        transform: scale(0.98);
    }
}

.yellow {
    @include color-boxes();
    background: $yellow;
    border-bottom-left-radius: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    &.clicked {
        background: $yellow-on;
        transform: scale(0.98);
    }
}

.blue {
    @include color-boxes();
    background: $blue;
    border-bottom-right-radius: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    &.clicked {
        background: $blue-on;
        transform: scale(0.98);
    }
}

.control-panel {
    position: absolute;
    background: black;
    border-radius: 100%;
    display: flex;
    height: 250px;
    width: 250px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    h2 {
        color: white;
        font: 36px 'Black Ops One', cursive;
        margin: 5px;
    }
    label {
        color: white;
    }
}

.button-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    button {
        margin: 10px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }
    label {
        color: white;
    }
}

.btn-default.active {
    background-color: red;
    color: white;
}

.control-panel .toggle {
    margin: 3px;
    .toggle-on {
        background: rgba(224, 0, 0, 1);
    }
}

.count {
    border: 2px solid white;
    border-radius: 3px;
    background: black;
    font: 16px 'Black Ops One', cursive;
    color: red;
    width: 45px;
    height: auto;
    text-align: center;
    &.off{
        color: rgba(255, 0, 0, .4);
    }
}