/*
  Styliing
  ==================
*/

html, body {
  background-color: #F5F3F5;
}

h1 {
  color: #F5F3F5;
}

h4 {
  color: rgba(246, 244, 246, 0.5);
  font-size: 14px;
}

h5 {
  border-bottom: 1px solid rgba(167, 169, 175, 0.25);
  padding-bottom: 5px;
}

a {
  color: #001A23;
  font-size: 16px;
}

.main-box {
  background-color: #576CA8; /*#B3EFB2*/
  border-radius: 20px;
  box-shadow: 5px 5px 3px #1B264F;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  width: 50%;
}

.form-group {
  margin: 0 auto;
  width: 50%;
}

.search-results {
  background-color: #F5F3F5;
  margin: 0 auto;
  padding-top: 20px;
  text-align: left;
  width: 75%;
}
.results-list {
  list-style-type: none;
}
.results-list div li, .results-list li {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}
.random-search{
  padding: 10px;
}
