/*
  Styliing
  ==================
*/

html, body {
  background-color: #31493C;
}

h1 {
  color: #001A23;
}

a {
  color: #001A23;
  font-size: 16px;
}

label {
  color: #B3EFB2;
}

.main-box {
  background-color: #B3EFB2;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  width: 50%;
}

.form-group {
  margin: 0 auto;
  width: 50%;
}

.search-results {
  background-color: white;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  width: 50%;
}

.random-search{
  padding: 10px;
}
