html,
body {
  background-image: url(../assets/DSCF1300__2.jpg);
  background-size: cover;
  background-color: #3a506b;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 10px;
}

h1 {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 5rem;
  padding-bottom: 5rem;
}

h4 {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  padding-bottom: 4rem;
}

.main-wrapper {
  background: rgba(0, 0, 0, 0.85);
  width: auto;
  height: auto;
  display: grid;
  margin: 20px;
  padding: 1rem;
  // border: 3px solid grey;
  border-radius: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0 0;
  justify-items: center;
  align-items: center;
}

.timer {
  grid-column: 2;
  grid-row: 1;
  margin: 0 auto;
  padding: 10px;
  color: white;
  font-size: 40px;
}

.btn {
  border: none;
  background: none;
  color: white;
  & :hover {
    color: white;
  }
  & :focus {
    color: white;
  }
}

.reset {
  grid-column: 1;
  grid-row: 2;
  font-size: 24px;
}

.start {
  grid-column: 3;
  grid-row: 2;
  color: white;
  background-color: green;
  font-size: 24px;
  &.on {
    background-color: red;
  }
}

.plus {
  grid-column: 3;
  grid-row: 1;
  font-size: 24px;
}

.minus {
  grid-column: 1;
  grid-row: 1;
  font-size: 24px;
}