html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.main-wrapper {
    width: 500px;
    height: 500px;
    display: grid;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0 0;
    justify-items: stretch;
    align-items: stretch;
    & div {
        border: 1px solid black;
        text-align: center;
    }
}

.one {
    grid-column: 1;
    grid-row: 1;
    
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 3;
    grid-row: 1;
}

.four {
    grid-column: 1;
    grid-row: 2;
}
.five {
    grid-column: 2;
    grid-row: 2;
}
.six {
    grid-column: 3;
    grid-row: 2;
}
.seven {
    grid-column: 1;
    grid-row: 3;
}

.eight {
    grid-column: 2;
    grid-row: 3;
}
.nine {
    grid-column: 3;
    grid-row: 3;
}